<html>
  <head>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <!-- Latest compiled and minified JavaScript -->
    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Grasper Video</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>

    <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Arm</h3>
  </div>
  <div class="panel-body">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Rail</h3>
      </div>
      <div class="panel-body">

        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">In</button>
          <button type="button" class="btn btn-default">Out</button>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Rail Distance</h3>
          </div>
          <div class="panel-body">
            Sensor Reading
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Gear</h3>
      </div>
      <div class="panel-body">

        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">Clockwise</button>
          <button type="button" class="btn btn-default">Counterclockwise</button>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Gear Rotation</h3>
          </div>
          <div class="panel-body">
            Sensor Reading
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">RESET</h3>
      </div>
      <div class="panel-body">
        <button type="button" class="btn btn-default">Reset</button>
      </div>
  </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Autonomy</h3>
  </div>
  <div class="panel-body">
  <input type="checkbox" aria-label="...">
  </div>



<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Grasper</h3>
  </div>
  <div class="panel-body">



  </div>
</div>

    <p>Add more behavior in controllers/commands!</p>
    <form action={{=update_parameters}}>
    </form>
  </body>
</html>
